body {
    background-color: rgb(211, 236, 182);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1a1616;
}
heading
h1 {
    color: #4d754c;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.img-container {
    border: 1px solid #fefdfd;
    padding: 10px;
    float: left;
    margin-right: 20px;
}